@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex&family=Orbitron:wght@700&display=swap');

body {
    background: linear-gradient(108.76deg, #343131 -1.39%, #1D1919 102.08%);
    font-family: 'Catamaran', sans-serif
}

body,
html {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 98px 1fr;
    height: 100%;

}

.content-sidebar {
    border-right: 1px solid #505050;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-sidebar__button {
    display: block;
    width: 100%;
    height: 98px;
    background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
    border: none;
    position: relative;
}

.content-sidebar__button::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/Menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: calc(50%-12px);
    left: calc(50%-12px);
}

.content-sidebar__list {
    list-style: none;
    margin-bottom: 60px;
    padding-left: 0px;
}

.content-sidebar__item {
    margin-top: 63px;
}

.content-sidebar__fb {
    background-image: url(../images/Facebook.svg);
}

.content-sidebar__inst {
    background-image: url(../images/Frame\ 3.png);
}

.content-sidebar__tw {
    background-image: url(../images/download.png);
    background-size: contain;
}

.content-sidebar__link {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center, center;
}

.content-main {
    grid-column: 2/3;
    grid-row: 2/3;
}

.content-header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 60px;
}

.content-header__logo {
    background-image: url(../images/love.webp);
    border: black;
    display: block;
    width: 102px;
    height: 31px;
    background-repeat: no-repeat;
    background-size: contain;
}

.content-header__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;

}

.content-header__item {
    margin-left: 67px;
}

.content-header__link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.content-header__link::after {
    content: '';
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: -14px;
    opacity: 0;
    transition: 0.2s;
}

.content-header__link.active {
    font-weight: 800;
    position: relative;
}

.content-header__link.active::after,
.content-header__link:hover::after {
    opacity: 1;
}

.content-header__link.wallet {
    background-image: url(../images/wallet.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 24px;
    height: 24px;

}

.swiper {
    height: calc(100vh - 98px);
    position: relative;
    display: flex;
}
.swiper-body {
    margin-left: 50%;
}
.swiper-body__title {
     font-family: 'Caudex', serif;
     font-weight: 700;
     font-size: 45.4px;
}
.swiper-body__title span {
position: relative;
} 
.swiper-body__title span::before,
.swiper-body__title span::after {
    content: '3D printed';
    position:absolute;
    width: 100% ;
    z-index: -1;
    
}
.swiper-body__title span::before {
    top: -0px;
    left: -2px;
    color: #fb258b;
    
}
.swiper-body__title span::after {
    bottom: -2px;
    left: 5px;
    color:#5025FB
}
.swiper-body__desc {
    font-size: 20px;
    line-height: 1.4;
    color: #BCBCBC
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: inherit;
    left: 60px;
    top: 230px;
    position: absolute;
    width: 203px;
    flex-basis: 203px;
    color: white;

}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    margin-top: 45px;
    margin-bottom: 45px; 
}

.swiper-wrapper {
    flex-basis: 500px;

    position: inherit;
}

.swiper-slide {
    color: white;
    position: inherit
}

.swiper-pagination-bullet-active {
    background: transparent;
}

.swiper-pagination-bullet {
    background: transparent;
    width: inherit;
    text-align: left;
    height: inherit;
    font-size: 34px;
    font-weight: 800;
    
}

.pagination-art {
    font-size: 23px;
    font-weight: 600;
    display: block;
}

.pagination-price {
    font-size: 17px;
    font-weight: 600;
    color: #bcbcbc;
    display: block;
}
.pagination-price span {
    font-size: 23px;
}
.swiper-footer {
    position: absolute;
    width: 1750px;
    height: 222.39px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
    backdrop-filter: blur(47.2917px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-body {
    margin-left: 50%;
}
.swiper-cover {
    height:225px;
    width: 225px;
    position: relative;
    overflow: hidden;
}
.swiper-cover__img {
    width: 225px;
    height: 225px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.swiper-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto, 1fr;
    gap: 5%;
    flex-basis: calc(100% - 360px);
    padding-left: 60px ;
}
.swiper-info-author {
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: 'Caudex', serif;
    font-size: 22.7px;
    font-weight: 700;
}
.swiper-info-item span{
 display: block;
 font-family: 'Catamaran', sans-serif ;
 font-weight: 500;
 font-size: 17px;
 color: #BCBCBC;
 margin-top: 11px;
}
.swiper-info-item {
 font-family: 'Orbitron', sans-serif;
 font-weight: 700;
 font-size: 17px;
}